<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <!-- <param
    name="robot_description"
    textfile="$(find mycar_description)/urdf/mycar_description.urdf" /> -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find mycar_description)/urdf/xacro/mycar_description.xacro'" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mycar_description)/urdf.rviz" />
</launch>
